<div>
  <h3>Opponent Monster</h3>
  <div style="display:block; width:150px;height:150px;background:#eee;"></div>
  <span><%= @game.players[1].name %>: <%= @game.players[1].hit_points %> HP</span>
</div>
<h1>
  <%= @game.players[0].name %> vs. <%= @game.players[1].name %>
</h1>
<a href="/attack" style="display:inline-block;padding:10px;border:1px solid #ccc;text-decoration:none;">Attack
</a>

<div>
  <h3>My Monster</h3>
  <div style="display:block; width:150px;height:150px;background:#eee;"></div>
  <span><%= @game.players[0].name %>: <%= @game.players[0].hit_points %> HP</span>
</div>
